DATABASE_DSN=host=postgresql user=bn_discourse password=postgres dbname=bitnami_discourse port=5432 sslmode=disable TimeZone=Asia/Bangkok
GAPO_HOST=https://api.gapowork.vn
GAPO_BOT_ID=botID
GAPO_BOT_TOKEN=botToken
GAPO_API_KEY=apiKey
DISCOURSE_HOST=http://localhost:3000
WORKFLOW_HOST=https://workflow.yody.io
WORKFLOW_UUID=916a2e7e-730d-4a7a-a20b-72917c37751a